{{ define "main" }}

<div class="grid-x blog-post-container">
  <section class="cell small-8">
    <a href="/blog/">&#x2190; Back to Blog</a>
  </section>
</div>

<div class="grid-x blog-post-container">
  <section class="cell small-8">

    <h1 class="spacer-top-5">{{ .Title }}</h1>

    <div class="blog-post-meta">
      {{- if or .Params.author .Site.Params.author -}}
      {{ .Params.author | default .Site.Params.author }} &middot; {{ end }}
      <time>{{- .Date.Format (.Site.Params.dateFormat | default "2006.1.2") -}}</time>
    </div>

    <article class="spacer-top-10">{{ .Content }}</article>
  </section>

  {{ partial "sidebar.html" . }}
</div>

{{ end }}
