{{ define "main" }}

<div class="grid-x">
  <section class="cell small-8">
    {{ .Content }}
  </section>
</div>

<div class="grid-x">
  <section class="cell small-8 blog-index-container">
    {{ range (.Paginate ( first 10 .Pages.ByDate.Reverse )).Pages }}
        <article class="spacer-top-10">
          <div>
            <h2 class="spacer-bottom-10"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

            {{ range .Resources.ByType "image" }}
              {{ $image := .Resize "300x q100" }}
              <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
            {{end}}

            <div class="spacer-top-6">
              {{ .Summary }}
            </div>
          </div>

          {{ if .Truncated }}
            <div class="spacer-top-4">
              <a href="{{ .RelPermalink }}">Read more…</a>
            </div>
          {{ end }}
        </article>
    {{ end }}
  </section>

</div>

{{ end }}
