{{ define "main" }}

<section class="content-column content-column--wide prose">
  {{ .Content }}
</section>

<section class="content-column content-column--wide prose">
  {{ range (.Paginate ( first 10 .Pages.ByDate.Reverse )).Pages }}
    <article>
      <h2 class="post__title">
        <a href="{{ .RelPermalink }}" class="no-underline">
          {{ .Title }}<span class="post__title-arrow" aria-hidden="true">&rarr;</span>
        </a>
      </h2>

      <div class="work-gallery">
        {{ range .Resources.ByType "image" }}
          {{ $image := .Resize "300x q100" }}
          <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
        {{ end }}
      </div>

      <div>
        {{ .Summary }}
      </div>

      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}" class="read-more no-underline">
          Read more<span class="read-more__arrow" aria-hidden="true">&rarr;</span>
        </a>
      {{ end }}
    </article>
  {{ end }}
</section>

{{ end }}
