{{ define "main" }}

<div>
  <section class="content-column">
    <a href="/">&#x2190; Back to Home</a>
  </section>
</div>

<div>
  <section class="content-column blog-index-container">
    {{ range .Paginator.Pages }}
      <article>
        <time datetime="{{ .Date }}">{{ .Date.Format $.Site.Params.dateFormat }}</time>
        <h2><a href="{{ .RelPermalink }}" class="no-underline">{{ .Title }}</a></h2>
        <div>
          {{ .Summary }}
        </div>
        <div>
          <a href="{{ .RelPermalink }}">Read more</a>
        </div>
      </article>
    {{ end }}
  </section>
</div>

{{ end }}
