{{ define "main" }}

<div>
  <section class="content-column blog-index-container">

    <section>
      <h1>{{ .Title }}</h1>
      {{ range .Pages.ByPublishDate }}
        <article>
          <div>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p>{{ .Summary }}</p>
          </div>

          {{ if .Truncated }}
            <div>
              <a href="{{ .RelPermalink }}">Read more…</a>
            </div>
          {{ end }}
        </article>
      {{ end }}
    </section>
  </section>
</div>

{{ end }}
