{{ define "main" }}

<div class="posts__container">
  <section class="content-column content-column--wide">
    {{ .Content }}
  </section>
</div>

<div class="posts__container">
  <section class="post__container content-column content-column--wide">
    {{ range .Pages }}
      <article>
        <h1 class="post__title">
          <a href="{{ .RelPermalink }}" class="no-underline">
            {{ .Title }}
          </a>
        </h1>

        <div class="post__meta">
          <time datetime="{{ .Date }}">
            {{- .Date.Format (.Site.Params.dateFormat) -}}
          </time>
        </div>

        <p>
          {{ .Summary }}
        </p>

        {{ if .Truncated }}
          <div>
            <a href="{{ .RelPermalink }}">Read more…</a>
          </div>
        {{ end }}
      </article>
    {{ end }}
  </section>
</div>

{{ end }}
