{{ define "main" }}

<div>
  <section class="content-column">
    {{ .Content }}
  </section>
</div>

<div>
  <section class="content-column">
    {{ range .Pages }}
      <article>
        <div>
          <h1 class="post__title">
            <a href="{{ .RelPermalink }}" class="no-underline">
              {{ .Title }}
            </a>
          </h1>

          <div class="post__meta">
            <time datetime="{{ .Date }}">
              {{- .Date.Format (.Site.Params.dateFormat) -}}
            </time>
          </div>

          {{ .Summary }}
        </div>

        {{ if .Truncated }}
          <div>
            <a href="{{ .RelPermalink }}">Read more…</a>
          </div>
        {{ end }}
      </article>
    {{ end }}
  </section>
</div>

{{ end }}
