{{ define "main" }}

<div>
  <section class="content-column">
    {{ .Content }}
  </section>
</div>

<div>
  <section class="content-column">
    {{ range .Pages }}
      <article>
        <div>
          <h2><a href="{{ .RelPermalink }}" class="no-underline">{{ .Title }}</a></h2>
          {{ .Summary }}
        </div>

        {{ if .Truncated }}
          <div>
            <a href="{{ .RelPermalink }}">Read more…</a>
          </div>
        {{ end }}
      </article>
    {{ end }}
  </section>
</div>

{{ end }}
