{{ define "main" }}

<div class="post__container">
  <section class="content-column">
    <a href="/essays/" class="no-underline">&#x2190; Back to Essays</a>
  </section>
</div>

<div class="post__container">
  <section class="content-column">

    <h1>{{ .Title }}</h1>

    {{ if .Date }}
      <div class="post__meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{- .Date.Format (.Site.Params.dateFormat) -}}</time>

        {{ if .Params.edited }}
          &middot;
          <em>
            Edited <time datetime="{{ .Params.edited }}">{{- dateFormat (.Site.Params.dateFormat) .Params.edited -}}</time>
          </em>
        {{ end }}
      </div>
    {{ end }}

    {{ partial "table_of_contents.html" . }}

    <article class="post__content">{{ .Content }}</article>

  </section>
</div>

{{ end }}
