{{ define "main" }}

<div class="post__container">
  <section class="content-column">
    <a href="/essays/">&#x2190; Back to Essays</a>
  </section>
</div>

<div class="post__container">
  <section class="content-column">

    <h1>{{ .Title }}</h1>

    <div class="post__meta">
      <time datetime="{{ .Date }}">
        {{- .Date.Format (.Site.Params.dateFormat) -}}
      </time>

      &middot;

      <span>{{ .ReadingTime }} minute read</span>
    </div>

    <article class="post__content">{{ .Content }}</article>

  </section>
</div>

{{ end }}
