{{ define "main" }}

{{ partial "back-link.html" (dict "url" "/essays/" "label" "Essays") }}

<section class="content-column prose">

  <h1 class="post__title">{{ .Title }}</h1>

  {{ if .Date }}
    <div class="post__meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{- .Date.Format (.Site.Params.dateFormat) -}}</time>

      &middot;

      <span>{{ .ReadingTime }} minute read</span>

      {{ if .Params.edited }}
        &middot;
        <em>
          Edited <time datetime="{{ .Params.edited }}">{{- dateFormat (.Site.Params.dateFormat) .Params.edited -}}</time>
        </em>
      {{ end }}
    </div>
  {{ end }}

  {{ partial "table_of_contents.html" . }}

  <article class="post__content">{{ .Content }}</article>

</section>

{{ end }}
