{{ define "main" }}

<div class="grid-x">
  <section class="cell small-8 large-offset-2 medium-offset-2">
    {{ .Content }}
  </section>
</div>

<div class="grid-x posts__container">
  <section class="cell small-8 large-offset-2 medium-offset-2">
    {{ range (.Paginate ( first 10 .Pages.ByDate.Reverse )).Pages }}
      <article class="spacer-top-10">
        <div>
          <time datetime="{{ .Date }}">
            {{- .Date.Format (.Site.Params.dateFormat) -}}
          </time>
          <h2><a href="{{ .RelPermalink }}" class="no-underline">{{ .Title }}</a></h2>
          {{ .Summary }}
        </div>

        {{ if .Truncated }}
          <div class="spacer-top-4 spacer-bottom-15">
            <a href="{{ .RelPermalink }}">Read more…</a>
          </div>
        {{ end }}
      </article>
    {{ end }}
  </section>

  {{ partial "blog_sidebar.html" . }}
</div>

{{ end }}
