{{ define "main" }}

<div class="grid-x blog-post-container">
  <section class="cell small-8">
    <a href="/posts/">&#x2190; Back to Blog</a>
  </section>
</div>

<div class="grid-x post__container">
  <section class="cell small-8">

    <h1 class="spacer-top-5">{{ .Title }}</h1>

    <div class="blog-post-meta">
      <time datetime="{{ .Date }}">{{- .Date.Format (.Site.Params.dateFormat) -}}</time>
      {{ if .Lastmod }}
        &middot;
        <em>
          Edited <time datetime="{{ .Lastmod }}">{{- .Lastmod.Format (.Site.Params.dateFormat) -}}</time>
        </em>
      {{ end }}
    </div>

    <article class="post__content spacer-top-10">{{ .Content }}</article>

    <hr>

    <div class="meta">
      Filed under
      {{ range .Params.categories }}
        <a href="/categories/{{ lower . }}/">{{ . }}</a>
      {{end}}
    </div>
  </section>

  {{ partial "blog_sidebar.html" . }}
</div>

{{ end }}
