{{ define "main" }}

{{ partial "back-link.html" (dict "url" "/posts/" "label" "Blog") }}

<section class="content-column prose">

  <h1 class="post__title" style="view-transition-name: post-title-{{ .File.ContentBaseName }};">{{ .Title }}</h1>

  <div class="post__meta">
    <time datetime="{{ .Date.Format "2006-01-02" }}">
      {{- .Date.Format (.Site.Params.dateFormat) -}}
    </time>

    &middot;

    <span>{{ .ReadingTime }} minute read</span>
  </div>

  <article class="post__content">
    {{ .Content }}
  </article>

  <hr>

  <div class="post__meta">
    <span>
      Filed under
      {{ range .Params.categories }}
        <a href="/categories/{{ lower . }}/">{{ . }}</a>
      {{- end -}},
      tagged with
      {{ range .Params.tags }}
        <a href="/tags/{{ lower . }}/">{{ . }}</a>
      {{- end -}}.
    </span>
  </div>
</section>

{{ end }}
