$light-gray: #c5c8c6;
$gray: #969896;
$red: #cc6666;
$orange: #de935f;
$yellow: #f0c674;
$green: #b5bd68;
$aqua: #8abeb7;
$blue: #81a2be;
$purple: #b294bb;

$active-nav-color: $purple;
$link-color: darken(#000, 20%);

$text-muted-color: #5f5e5f;
$text-very-muted-color: #9fa0a0;

$background-color: #fff;
$default-text-color: hsla(0, 0%, 15%, 0.98);

body,
.callout,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-text-color;
}
