<div>
  <p>
    Review my code on <a href="https://github.com/dakotahp">GitHub</a>.
    Check out my photography on <a href="https://smugmug.com/dakotahp">SmugMug</a>.
    <br>
    Sometimes I write on the <a href='{{ relref . "posts/_index.html" }}'>blog</a>,
    which has a <a href="/index.xml">feed</a>.
    <br>
    You may <a href='{{ relref . "/contact.html" }}'>contact me</a> if you'd like.
  </p>

  <p>Psst, you can <a class="color-mode-toggle">switch</a> between 🌞 and 🌚 mode.</p>
</div>
