<header id="header">
  <div>
    <a
      href="/"
      class="no-underline"
      aria-label="Link to homepage"
    >
      {{ partial "logo.html" . }}
    </a>
  </div>
  <div>
    <nav id="primary-nav" aria-label="Primary navigation">
      <ul>
        {{ $currentPage := . }}
        {{ range sort .Site.Menus.primary.ByWeight }}
          <li>
            <a {{ if or ($currentPage.IsMenuCurrent "primary" .) ($currentPage.HasMenuCurrent "primary" .) }}class="active"{{ end }} href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
