<header id="header" class="grid-x grid-padding-x">
  <div class="large-4 cell">
    <a href="{{ .Site.BaseURL }}">{{ partial "logo.html" . }}</a>
  </div>
  <div class="large-8 cell">
    <nav id="primary-nav" class="align-right text-right">
      <ul class="inline">
        {{ $currentPage := . }}
        {{ range sort .Site.Menus.main.ByWeight }}
          <li>
            <a{{ if $currentPage.IsMenuCurrent "main" . }} class="active"{{ end }} href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
